# Logs
logs
*.log
npm-debug.log*

# Dependințe
node_modules
server/node_modules
NovaTrader/

# Folderul de build
dist
dist-ssr

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Securitate (CRITIC)
.env
.env.*
server/.env